
nav {
    margin-top: 30px;
    .flex(space-between, center);

    .seperator(30px);

    .links {
        width: 50%;
        .flex(space-around);

        a {
            color: @shark;
            text-decoration: none;
            font-size: 2rem;
        }
    }
}